<!DOCTYPE html>
<html>
<head>
  <title>MediumClone</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application', asyc: Rails.env.production? %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render('layouts/navbar') %>
  <%= yield %>
</body>
</html>
